@font-face {
    font-family: 'Source Sans Pro';
    src: url('../../public/fonts/SourceSansPro-Regular.woff') format('woff2'),
         url('../../public/fonts/SourceSansPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro Bold';
    src: url('../../public/fonts/SourceSansPro-Bold.woff2') format('woff2'),
         url('../../public/fonts/SourceSansPro-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro Light';
    src: url('../../public/fonts/SourceSansPro-Light.woff2') format('woff2'),
         url('../../public/fonts/SourceSansPro-Light.woff') format('woff');
    font-weight: lighter;
    font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

